:root {
  --logo-nav-font: "Fredericka the Great", serif;
  --heading-font: "Galindo", sans-serif;
  --text-icons-tilbakemeldinger-font: "Gantari", sans-serif;
  --brown-primary-color: #403838;
  --secondary-color: #fbf2ec;
  --offwhite-color: #faf9f6;
  --font-size-logo: 4rem;
  --font-size-nav-buttons-text: 1.5rem;
  --font-size-h1: 3rem;
  ---font-size-description: 1rem;
  --font-size-tilbakemeldinger: 1.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--offwhite-color);
}

html {
  font-size: 16px;
}

/* HEADER */

header {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header a {
  text-decoration: none;
  list-style-type: none;
}

.logo h1 {
  font-size: var(--font-size-logo);
  color: black;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
  font-family: var(--logo-nav-font);
}

nav {
  font-family: var(--logo-nav-font);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  max-height: 100%;
  gap: 25px;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  font-size: var(--font-size-nav-buttons-text);
  color: black;
}

/* HERO */

.hero {
  background-image: url("./images/elena-mozhvilo-CfpCqN9qkrI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.hero .hero-title {
  width: 45vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: transparent;
  position: relative;
  top: 25%;
  left: 50%;
}
.hero-title h2,
.hero-title h1 {
  color: var(--offwhite-color);
  font-family: var(--heading-font);
  background: transparent;
}

.hero-title h1 {
  font-size: var(--font-size-h1);
}

.hero-title h2 {
  font-size: var(--font-size-nav-buttons-text);
}
.hero a {
  text-decoration: none;
  padding-top: 8px;
  text-align: center;
}

.bestill-button-hvit {
  display: block;
  height: 100%;
  width: 60%;
  color: var(--offwhite-color);
  border: 4px solid var(--offwhite-color);
  border-radius: 45px;
  background: transparent;
  font-family: var(--heading-font);
  font-size: var(--font-size-nav-buttons-text);
}

.bestill-button-hvit:hover {
  background-color: var(--offwhite-color);
  font-size: 1.75rem;
  color: rgba(64, 56, 56, 0.3);
  cursor: pointer;
}

/* ABOUT US SECTION */

.about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7% 5%;
  height: 100vh;
}

.about-us img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.desc-about-us {
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  font-size: var(--font-size-nav-buttons-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.desc-about-us p {
  text-align: justify;
  background-color: var(--offwhite-color);
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.icon img {
  height: 88px;
  width: 88px;
}

.icon p {
  font-family: var(--text-icons-tilbakemeldinger-font);
  font-size: var(--font-size-tilbakemeldinger);
  text-align: center;
  background-color: var(--offwhite-color);
}

/* WORKSHOPS SECTION */
.intro {
  background-image: url("./images/amauri-mejia-IhXrWDckZOQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}

.workshop-title {
  padding: 5vh 0;
}

.intro h1,
.intro p {
  background: transparent;
  color: var(--offwhite-color);
  font-family: var(--heading-font);
  text-align: center;
}

.intro h1 {
  font-size: var(--font-size-h1);
}

.intro p {
  font-size: 1.3rem;
}

.workshop-title h1 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  text-align: center;
  color: var(--brown-primary-color);
  padding: 8vh 0;
}
.workshop-tilbud {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tilbud {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32vw;
  height: 100vh;
}
.tilbud img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  border-radius: 13px;
}

.tilbud-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60%;
  width: 70%;
  gap: 20px;
  padding: 4% 5%;
  background-color: var(--secondary-color);
  border-radius: 13px;
  position: relative;
  bottom: 15%;
}
.tilbud-description h2,
p {
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
  background-color: var(--secondary-color);
}

.tilbud-description h2 {
  font-size: var(--font-size-nav-buttons-text);
}
.tilbud-description p {
  font-size: var(---font-size-description);
}

.tilbud-description a {
  text-decoration: none;
  text-align: center;
}
.bestill-button {
  width: 60%;
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  border-radius: 90px;
  font-size: var(--font-size-tilbakemeldinger);
  border: 3px solid;
  padding: 5px;
}

.bestill-button:hover {
  background-color: var(--brown-primary-color);
  color: var(--offwhite-color);
}

/* FOOTER SECTION */
.footer-logo-nav a {
  text-decoration: none;
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  padding: 20px 0;
}

.footer-logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-nav .logo h1 {
  font-size: 3.125rem;
  padding-left: 0;
}
.logo h2 {
  font-size: 1.2rem;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-family: var(--logo-nav-font);
  text-align: center;
}

.footer-nav a {
  font-size: 1.3rem;
}
.socials {
  padding: 0 20px;
}
.socials p {
  font-family: var(--text-icons-tilbakemeldinger-font);
  background-color: var(--offwhite-color);
  font-size: 1.2rem;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}

i {
  color: var(--brown-primary-color);
  font-size: 2.5rem;
  padding: 10px;
}

i:hover {
  background-color: var(--brown-primary-color);
  color: var(--offwhite-color);
  border-radius: 45px;
}

/* bestilling.html */

.workshop-tilbud-bs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10vh;
  padding: 0 5vw;
}

.tilbud-bs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 65vh;
}

.tilbud-bs img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  border-radius: 13px 0 0 13px;
}

.tilbud-description-bs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 4% 5%;
  background-color: var(--secondary-color);
  border-radius: 0 13px 13px 0;
}

.tilbud-description-bs h2,
p {
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
  background-color: var(--secondary-color);
}

.tilbud-description-bs h2 {
  font-size: var(--font-size-nav-buttons-text);
}
.tilbud-description-bs p {
  font-size: var(---font-size-description);
}

.tilbud-description-bs a {
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
}
.tilbud-description-bs .bestill-button {
  width: 70%;
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  border-radius: 90px;
  font-size: var(--font-size-nav-buttons-text);
  border: 3px solid;
}

.tilbud-description-bs .bestill-button:hover {
  background-color: var(--brown-primary-color);
  color: var(--offwhite-color);
}

.bestilling-side .bestilling-form {
  padding: 50px 0;
}

.bestilling-form h1 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  color: var(--brown-primary-color);
  text-align: center;
}
.bestilling-form .justify-text h2,
.bestilling-form .justify-text p {
  text-align: justify;
}

form {
  font-family: var(--text-icons-tilbakemeldinger-font);
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  gap: 10px;
}

input[type="text"],
[type="email"],
[type="tel"],
[type="date"],
[type="textarea"],
select {
  background: none;
  border: none;
  border-bottom: solid 2px var(--brown-primary-color);
  color: var(--brown-primary-color);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.bestilling-side .bestill-button {
  margin: 0 auto;
  width: 60%;
}

/* tilbakemeldinger.html */

.tilbakemelding-hero-title {
  background-image: url("./images/yannis-papanastasopoulos-kKzbyDeb62M-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}

.tilbakemelding-hero-title h1,
.tilbakemelding-hero-title p {
  background: transparent;
  color: var(--offwhite-color);
  font-family: var(--heading-font);
  text-align: center;
}

.tilbakemelding-hero-title h1 {
  font-size: var(--font-size-h1);
}

.tilbakemelding-hero-title p {
  font-size: 24px;
}

/* TILBAKEMELDING SECTION */
.tilbakemeldinger-section {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 9vh;
  padding: 10vh;
}

.tilbakemeldinger-section h1 {
  background-color: var(--secondary-color);
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
  font-size: var(--font-size-h1);
}

.tilbakemeldinger-div {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tilbakemelding-text {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--brown-primary-color);
  border-radius: 10px;
  width: 30%;
  overflow: hidden;
  padding: 15px;
}

.tilbakemelding-text p,
.kunde-info p {
  text-align: left;
  font-family: var(--text-icons-tilbakemeldinger-font);
}

.kunde-info {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.kunde-info img {
  height: 60px;
  width: 60px;
  border-radius: 45px;
  background-position: center;
  object-fit: cover;
}

.tilbakemelding-form h1 {
  font-family: var(--heading-font);
  font-size: 2.5rem;
  color: var(--brown-primary-color);
  text-align: center;
  padding: 50px 0;
}

.tilbakemelding-form .bestill-button {
  margin: 30px auto;
}

.tilbakemeldinger-side .tilbakemeldinger-title p {
  text-align: center;
}

/* galleri.html */

.galleri-desc {
  padding: 12vh;
}
.galleri-desc h1 {
  font-size: var(--font-size-h1);
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
}

.galleri-desc p {
  background-color: var(--offwhite-color);
}

.galleri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12vh;
  padding: 3%;
  background-color: var(--secondary-color);
}

.galleri img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(64, 56, 56, 0.5);
  width: 27vw;
  height: 50vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  header {
    justify-content: center;
  }
  .hero .hero-title {
    width: 60vw;
    left: 30%;
  }
  .icon img {
    height: 60px;
    width: 60px;
  }

  .tilbud {
    width: 75vw;
  }

  form {
    width: 70vw;
  }

  .socials {
    justify-content: center;
  }

  .galleri {
    gap: 6vh;
  }

  .galleri img {
    width: 70vw;
  }

  .tilbakemeldinger-div {
    flex-direction: column;
    gap: 5vh;
  }

  .tilbakemelding-text {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  header {
    justify-content: center;
  }

  .hero .hero-title {
    width: 70vh;
    left: 40%;
  }

  form {
    width: 70vw;
  }
  .tilbud {
    width: 40vw;
  }

  .galleri img {
    width: 42vw;
  }
  .galleri {
    gap: 6vh;
  }
}
