:root {
  --logo-nav-font: "Fredericka the Great", serif;
  --heading-font: "Galindo", sans-serif;
  --text-icons-tilbakemeldinger-font: "Gantari", sans-serif;
  --brown-primary-color: #403838;
  --secondary-color: #fbf2ec;
  --offwhite-color: #faf9f6;
  --font-size-logo: 64px;
  --font-size-nav-buttons-text: 24px;
  --font-size-h1: 48px;
  ---font-size-description: 16px;
  --font-size-tilbakemeldinger: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--offwhite-color);
}

/* HEADER */

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  list-style-type: none;
}

.logo h1 {
  font-size: var(--font-size-logo);
  color: black;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
  font-family: var(--logo-nav-font);
}

nav {
  width: 40%;
  font-family: var(--logo-nav-font);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

nav a {
  text-decoration: none;
  font-size: var(--font-size-nav-buttons-text);
  color: black;
}

/* HERO */

.hero {
  background-image: url("./images/elena-mozhvilo-CfpCqN9qkrI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 555px;
  display: flex;
  gap: 10px;
}

.hero .hero-title {
  width: 685px;
  height: 242px;
  background: transparent;
  position: relative;
  top: 120px;
  left: 50%;
}
.hero-title h2,
.hero-title h1 {
  color: var(--offwhite-color);
  font-family: var(--heading-font);
  background: transparent;
}

.hero-title h1 {
  font-size: var(--font-size-h1);
}

.hero-title h2 {
  font-size: var(--font-size-nav-buttons-text);
}
.hero button {
  height: 57px;
  width: 385px;
  color: var(--offwhite-color);
  border: 4px solid var(--offwhite-color);
  border-radius: 45px;
  background: transparent;
  font-family: var(--heading-font);
  font-size: var(--font-size-nav-buttons-text);
}

button:hover {
  background-color: var(--offwhite-color);
  font-size: 28px;
  color: rgba(64, 56, 56, 0.3);
}

/* ABOUT US SECTION */

.about-us {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.about-us img {
  width: 548px;
  height: 614px;
}

.desc-about-us {
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  font-size: var(--font-size-nav-buttons-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.desc-about-us p {
  text-align: justify;
  background-color: var(--offwhite-color);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 163px;
  height: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
}
.icon img {
  height: 88px;
  width: 88px;
}

.icon p {
  font-family: var(--text-icons-tilbakemeldinger-font);
  font-size: var(--font-size-nav-buttons-text);
  text-align: center;
  background-color: var(--offwhite-color);
}

/* WORKSHOPS SECTION */
.intro {
  background-image: url("./images/amauri-mejia-IhXrWDckZOQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 357px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
}

.intro h1,
.intro p {
  background: transparent;
  color: var(--offwhite-color);
  font-family: var(--heading-font);
}

.intro h1 {
  font-size: var(--font-size-h1);
}

.intro p {
  font-size: 22px;
}

.workshop-title h1 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  text-align: center;
  color: var(--brown-primary-color);
  padding: 69px 0;
}
.workshop-tilbud {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tilbud {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tilbud img {
  height: 473px;
  width: 400px;
  object-fit: cover;
  border-radius: 13px;
}

.tilbud-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 305px;
  width: 340px;
  gap: 10px;
  padding: 10px 30px;
  background-color: var(--secondary-color);
  border-radius: 13px;
  position: relative;
  bottom: 150px;
}
.tilbud-description h2,
p {
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
  background-color: var(--secondary-color);
}

.tilbud-description h2 {
  font-size: var(--font-size-nav-buttons-text);
}

.bestill-button {
  width: 278px;
  height: 57px;
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  border-radius: 90px;
  font-size: var(--font-size-nav-buttons-text);
  border: 3px solid;
}

.bestill-button:hover {
  background-color: var(--brown-primary-color);
  color: var(--offwhite-color);
}

/* TILBAKEMELDING SECTION */
.tilbakemeldinger-section {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}

.tilbakemeldinger-section h1 {
  background-color: var(--secondary-color);
  font-family: var(--heading-font);
  color: var(--brown-primary-color);
  text-align: center;
  font-size: var(--font-size-h1);
}

.tilbakemeldinger-div {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tilbakemelding-text {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid var(--brown-primary-color);
  /* border-radius: 10px; */
  border-radius: 10px 100px / 120px;
  width: 418px;
  overflow: hidden;
  padding: 15px;
}

.tilbakemelding-text p,
.kunde-info p {
  text-align: left;
  font-family: var(--text-icons-tilbakemeldinger-font);
}

.kunde-info {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.kunde-info img {
  height: 60px;
  width: 60px;
  border-radius: 45px;
  background-position: center;
  object-fit: cover;
}

.gi-oss-tilbakemelding {
  background-color: var(---font-size-description);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.gi-oss-tilbakemelding h2 {
  background-color: var(---font-size-description);
  font-family: var(--heading-font);
  font-size: 40px;
  color: var(--brown-primary-color);
}

.gi-oss-tilbakemelding .bestill-button {
  width: 403px;
}

/* FOOTER SECTION */
.footer-logo-nav a {
  text-decoration: none;
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding: 20px 0;
}

.footer-logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.footer-nav {
  width: 40%;
}

.footer-logo-nav .logo h1 {
  font-size: 50px;
}
.logo h2 {
  font-size: 26px;
  color: black;
  font-weight: 400;
  font-style: normal;
  font-family: var(--logo-nav-font);
  text-align: center;
}

.socials {
  padding: 0 20px;
}
.socials p {
  font-family: var(--text-icons-tilbakemeldinger-font);
  background-color: var(--offwhite-color);
  font-size: 20px;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}

i {
  color: var(--brown-primary-color);
  font-size: 40px;
  padding: 10px;
}

i:hover {
  background-color: var(--brown-primary-color);
  color: var(--offwhite-color);
  border-radius: 45px;
}

/* bestilling.html */

.bestilling-side .workshop-tilbud {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 70px;
}

.bestilling-side .tilbud {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bestilling-side .tilbud-description {
  padding: 20px 50px;
  background-color: var(--secondary-color);
  border-radius: 13px;
  position: static;
  height: 473px;
  width: 100%;
}

.bestilling-side .tilbud img {
  height: 473px;
  width: 682px;
  object-fit: cover;
  border-radius: 13px;
}

.bestilling-form h1 {
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  color: var(--brown-primary-color);
  text-align: center;
}
